<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complementary Shaders</title>
    <link rel="icon" href="https://media.forgecdn.net/avatars/thumbnails/324/352/64/64/637440062601212153.jpeg">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>   
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      {% endif %}
      
      <h1>Complementary Shaders</h1>
      <a href="https://levelowel.github.io/">Home</a> | <a href="https://levelowel.github.io/downloads">Downloads</a>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9TgdxpXVoBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
      {{ content }}

      <a href="https://discord.gg/A6faFYt" rel="nofollow"><img src="https://camo.githubusercontent.com/b40acfcf9e675746bbe3cdec9708d9314b0a0062ad692f8c752b91d37d39e6dd/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3334323831343932343331303937303339383f636f6c6f723d253233373238394441266c6162656c3d446973636f7264266c6f676f3d646973636f7264266c6f676f436f6c6f723d7768697465" alt="Discord" data-canonical-src="https://img.shields.io/discord/342814924310970398?color=%237289DA&amp;label=Discord&amp;logo=discord&amp;logoColor=white" style="max-width:100%;"></a>
      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
